*{
  margin: 0;
  padding: 0;
  box-sizing: bo;
}

.sfondo-alto{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.sfondo-alto .logo-png{
  size: 150px;
}

body{
  background-color: aquamarine;
}